@model FitnessCenterWebApp.Models.Member

@{
    ViewBag.Title = "Employee Details";
}
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/noimage.jpg"
                     asp-append-version="true" />

                <h4>Member ID : @Model.Id</h4>
                <h4>Membership Type : @Model.Membership</h4>
                <h4>Oustanding Balance : @Model.Balance</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="memberlist"
                   class="btn btn-primary">Back</a>
                <a asp-controller="home" asp-action="paybill" asp-route-id="@Model.Id"
                   class="btn btn-primary">Settle Balance</a>
                <a asp-controller="home" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete </a>
            </div>
        </div>
    </div>
</div>
@*<h3>@Model.PageTitle</h3>

    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>*@
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}